.homeformsection{
    background-color: bisque;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeformsection>div{
    width: 50vw;
    height: 70vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homeformsection>div>h4{
    font-size: 1.5rem;
    padding: 0 30px 0 0 ;
    text-align: center;
}
.homeformsection>div>form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeformsection>div>form>div{
    width: 80%;
    padding:5px;
}
.homeformsection>div>form>div>input{
    width: 100%;
    padding: 5px 30px;
    border-radius: 5px;
    border: none;
}