.registersection1{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 147, 78);

}
.registersection1>div{
    width: 40vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: beige;
    border-radius: 10px;
    box-shadow: 0 0 5px silver;
    flex-direction: column;
}
.registersection1>div>h4{
    font-size: 1.5rem;
    color: blue;
    letter-spacing: 1.5px;
    padding: 0 0 15px 0;
}
.registersection1>div>form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registersection1>div>form>div{
    width: 100%;
    text-align: center;
    padding: 0 0 6px 0;
}
.registersection1>div>form>div>input{
    width: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 5px 30px;
}
.registersection1>div>form>div:nth-child(3)>input{
    color: white;
    font-weight: 600;
    background: blue;
}
.registersection1>div>form>div>a{}